
<div id="login-big-wrapper">

    <!-- <div id="login-text-wrapper"> -->
    <img src="closepan.jpg">
    <!-- <div id="login-pan-photo" -->
</div>
</div>
<div id="login-wrapper">
    <h1>Please log in.</h1>
    <form method="POST">
        <input type="text" name="email">
        <input type="password" name="password">
        <button type="TEXT" name="button">Log In</button>
    </form>

</div>

</div>
