<div id="msg-wrapper">
<h1>With your signature, you're making a stand with us that providing a safe space for our dogs is not only important, it's needed.</h1>
</div>
<a href="/proposal"><p>[Our Proposed Dog Park Plan.]</p></a>
    <div id="pan-wrapper">
    <div id="pan-photo">
        <a href="https://www.instagram.com/sitting_pan"><img src="panface.jpg" ></a>
    </div>
    </div>
<div id="">
    <div id="wrapper">
        <form method="POST">
            <input type="hidden" name="signature" value="">
            <button id="submit-button">SUBMIT</button>
            <canvas id="canvas" width="400" height="100"></canvas>
            {{errMsg}}
        </form>
    </div>
</div>
