
<div id="text-div">
    <h2>You are but one voice and one signature but without you, nothing would be heard.  Your presence will not go unnoticed.  We sincerely appreciate your time.</h2>
</div>
<div id="vid-wrapper">
    <video width="320" height="240" autoplay loop >
        <source src="panfive.mp4" type="video/mp4">
            <source src="panfive.ogg" type="video/ogg">
            </video>
            <video id="mirror-pan" width="320" height="240" autoplay loop >
                <source src="panfive.mp4" type="video/mp4">
                    <source src="panfive.ogg" type="video/ogg">
                    </video>

                </div>
                <h4>Thank you for your support,</h4>
                <p id="thanks-signature">
                    <img src="{{signature}}">
                    <a href="/editprofile"><p> Edit your profile! </p></a>
                    <a href="/signed"><p> See the other signers here </p></a>
                    <a href="/logout"><p> Sign Out </p></a>
                    <a href="#"><p> Delete Your Signature </p></a>

                </p>
