body {
    background-color: gray;
}
button {

    font-family: Courier;
    background-color: #B6D2CA;
    height: 30px;
    text-align: center;
    /*border-radius: 50px;*/
    clear: right;
    cursor: pointer;
}
h1 {
    width: 500px;
    font-size: 25px;
    color: #0C162B;
    font-family: Courier;
    line-height: 35px;
    font-weight: lighter;
    text-align: center;
}
h2 {
    width: 800px;
    font-size: 25px;
    color: #0C162B;
    font-family: Courier;
    line-height: 28px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-align: center;

}
h4 {
    display: flex;
    justify-content: center;
    font-family: Courier;
    font-weight: 200;

}
h5 {
    display: flex;
    justify-content: center;
    /*padding-top: 40%;*/
}
p {
    font-family: Courier;
    color: #0C162B;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.edit-profile-paragraph {
    line-height: 2px;
}
a {
    line-height: 20px;
    /*color: #931C1D;*/
    text-decoration: none;
}
ul {
    border-top: solid black 2px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: solid black 2px;
}
.link-hover-style:hover{ background-color: #ACDFAD; padding-top: 10px;}

.link-hover-style {
    text-decoration: none;
padding: 2px;
cursor: pointer;
margin: 1px;
border-radius: 5px;
transition: all 0.5s;
border: none;
font-size: 18px;
font-weight: 300;
font-family: sans-serif;
}

.link-hover-style:active {
    background-color: #611010;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#text-div {
    display: flex;
    justify-content: center;
}
#msg-wrapper {
    display: flex;
    justify-content: center;
}
#pan-wrapper {
    display: flex;
    justify-content: center;
}
#pan-photo {
    border: 3px solid #29657B;
    /*border-radius: 80px;*/
    height: 150px;
    width: 150px;
}
#login-pan-photo {
    border: 3px solid #29657B;
    /*border-radius: 80px;*/
    height: 150px;
    width: 150px;
}
#wrapper {
    display: flex;
    justify-content: center;
    /*padding-left: 130px;*/
}
#register-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 200px;
}
#more-pan-wrapper {
    display: flex;
    justify-content: center;
    padding-right: 10px;
}
#addedfortext {

}
#unleash-pan {
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-left: 80px;*/
    /*border: 3px solid #29657B;*/
    /*border-radius: 80px;*/
    height: 210px;
    width: 210px;
}
#vid-wrapper {
    display: flex;
    justify-content: center;
}
video {
    /*border: 2px solid #29657B;*/
    /*border-radius: 80px;*/
    width: 140px;
    height: 220px;
}
#reg-wrap {
    display: flex;
    justify-content: center;
}
#playdog {
    padding-top: 1px;
    display: flex;
    justify-content: center;
}
/*Thanks page styling */
#thanks-signature {
    display: flex;
    justify-content: center;
}
#login-wrapper {
    display: flex;
    justify-content: center;
}
#login-text-wrapper {
    display: flex;
    justify-content: center;

}
#login-big-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#mirror-pan {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
#mirror-signed-icon {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
/*#submit-button {
    border: 2px solid #29657B;
    text-align: center;
    background-color: #B6D2CA;
}*/
#profile-wrapper {
    padding-left: 100px;
}
img {
    /*border-radius: 80px;*/
}
input {
    /*border-radius: 45px;*/
    border: 3px solid #29657B;
    text-align: center;
    background-color: #B6D2CA;

}
form {
    text-align: center;
}
canvas {
    width: 400px;
    background-color: #B6D2CA;
    display: flex;
    /*justify-content: center;*/
    border: 2px solid #29657B;
    /*border-radius: 45px;*/
    /*padding-top: 10px;*/
    /*position: absolute;*/
}

/*font-family: Anvenir and Georgia.*/
/*palette:
dark green: 29657B
bright blue: 2594E4
light light green: B6D2CA
yellow; E0C694
super light purple; B6B9C2
